In [1]:
import pandas as pd

In [2]:
a = {'a': [1, 2, 3], 'b': [1, 3, 5], 'c': [2, 4, 6], 'd': [3, 6, 9]}

In [3]:
a

{'a': [1, 2, 3], 'b': [1, 3, 5], 'c': [2, 4, 6], 'd': [3, 6, 9]}

In [4]:
df1 = pd.DataFrame(a)

In [5]:
df1

   a  b  c  d
0  1  1  2  3
1  2  3  4  6
2  3  5  6  9

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [7]:
df1.shape

(3, 4)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(4)
memory usage: 224.0 bytes

In [9]:
import numpy as np

In [10]:
b = np.arange(12).reshape(3, 4)

In [11]:
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [12]:
df2 = pd.DataFrame(b)

In [13]:
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
type(df2)

pandas.core.frame.DataFrame

In [15]:
df2.shape

(3, 4)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       3 non-null      int64
 3   3       3 non-null      int64
dtypes: int64(4)
memory usage: 224.0 bytes

In [17]:
df = pd.DataFrame([[1, 20, '서울'], [2, 25, '대전']],
                  index = ['홍길동', '홍길순'],
                  columns = ['순서', '나이', '지역'])

In [18]:
df

     순서  나이  지역
홍길동   1  20  서울
홍길순   2  25  대전

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.shape

(2, 3)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 홍길동 to 홍길순
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순서      2 non-null      int64
 1   나이      2 non-null      int64
 2   지역      2 non-null      object
dtypes: int64(2), object(1)
memory usage: 64.0+ bytes

In [22]:
df.index

Index(['홍길동', '홍길순'], dtype='object')

In [23]:
df.columns

Index(['순서', '나이', '지역'], dtype='object')

In [24]:
df.values

array([[1, 20, '서울'],
       [2, 25, '대전']], dtype=object)

In [25]:
df.index = ['사람 1', '사람 2']

In [26]:
df

      순서  나이  지역
사람 1   1  20  서울
사람 2   2  25  대전

In [27]:
df.columns = ['연번', '연령', '도시']

In [28]:
df

      연번  연령  도시
사람 1   1  20  서울
사람 2   2  25  대전

In [29]:
# 인덱스를 변경. 딕셔너리를 활용.
df = df.rename(index = {'사람 1': '홍길동'})

In [30]:
df

      연번  연령  도시
홍길동    1  20  서울
사람 2   2  25  대전

In [31]:
df = df.rename(columns = {'연번': '순서', '연령': '나이'})

In [32]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전

In [33]:
df.loc['사람 3'] = [3, 30, '부산']

In [34]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산

In [36]:
df.loc['사람 4'] = 0

In [37]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 4   0   0   0

In [38]:
df.loc['사람 1'] = df.loc['홍길동']

In [39]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 4   0   0   0
사람 1   1  20  서울

In [40]:
df['나이대'] = ['20대', '20대', '30대', '0대', '20대']

In [41]:
df

      순서  나이  도시  나이대
홍길동    1  20  서울  20대
사람 2   2  25  대전  20대
사람 3   3  30  부산  30대
사람 4   0   0   0   0대
사람 1   1  20  서울  20대

In [42]:
df['직업'] = '학생'

In [43]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 4   0   0   0   0대  학생
사람 1   1  20  서울  20대  학생

In [44]:
df.loc['사람 4', '순서'] = 4

In [45]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 4   4   0   0   0대  학생
사람 1   1  20  서울  20대  학생

In [46]:
df.iloc[3, 1] = 10

In [47]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 4   4  10   0   0대  학생
사람 1   1  20  서울  20대  학생

In [48]:
df.loc['사람 4', ['도시', '나이대']] = '광주', '10대'

In [49]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 4   4  10  광주  10대  학생
사람 1   1  20  서울  20대  학생

In [50]:
df.iloc[3, [1, 3]] = 40, '40대'

In [51]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 4   4  40  광주  40대  학생
사람 1   1  20  서울  20대  학생

In [52]:
df = df.drop('사람 4', axis = 0)

In [53]:
df

      순서  나이  도시  나이대  직업
홍길동    1  20  서울  20대  학생
사람 2   2  25  대전  20대  학생
사람 3   3  30  부산  30대  학생
사람 1   1  20  서울  20대  학생

In [55]:
df = df.drop(['나이대', '직업'], axis=1)

In [56]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   1  20  서울

In [60]:
df3 = df.copy()

In [61]:
df3

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   1  20  서울

In [62]:
df3.loc['사람 1', '순서'] = 5

In [63]:
df3

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   5  20  서울

In [64]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   1  20  서울

In [65]:
hong = df.loc['홍길동']

In [66]:
hong

순서     1
나이    20
도시    서울
Name: 홍길동, dtype: object

In [67]:
type(hong)

pandas.core.series.Series

In [68]:
hong.shape

(3,)

In [69]:
gil = df.iloc[0]

In [70]:
gil

순서     1
나이    20
도시    서울
Name: 홍길동, dtype: object

In [71]:
type(gil)

pandas.core.series.Series

In [72]:
gil.shape

(3,)

In [75]:
df4 = df.loc[['홍길동', '사람 1']]

In [76]:
df4

      순서  나이  도시
홍길동    1  20  서울
사람 1   1  20  서울

In [77]:
type(df4)

pandas.core.frame.DataFrame

In [78]:
df5 = df.iloc[[0, 3]]

In [79]:
df5

      순서  나이  도시
홍길동    1  20  서울
사람 1   1  20  서울

In [80]:
df6 = df.loc['홍길동':'사람 3']

In [81]:
df6

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산

In [82]:
df7 = df.iloc[0: 3]

In [83]:
df7

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산

In [84]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   1  20  서울

In [85]:
df8 = df[['나이']]

In [86]:
df8

      나이
홍길동   20
사람 2  25
사람 3  30
사람 1  20

In [87]:
df9 = df['나이']

In [88]:
df9

홍길동     20
사람 2    25
사람 3    30
사람 1    20
Name: 나이, dtype: int64

In [89]:
df10 = df[['나이', '도시']]

In [90]:
df10

      나이  도시
홍길동   20  서울
사람 2  25  대전
사람 3  30  부산
사람 1  20  서울

In [91]:
df

      순서  나이  도시
홍길동    1  20  서울
사람 2   2  25  대전
사람 3   3  30  부산
사람 1   1  20  서울

In [92]:
df11 = df.loc[['홍길동', '사람 1'], ['나이', '도시']]

In [93]:
df11

      나이  도시
홍길동   20  서울
사람 1  20  서울

In [94]:
df12 = df.iloc[[0, 3], [1, 2]]

In [95]:
df12

      나이  도시
홍길동   20  서울
사람 1  20  서울

In [96]:
a = {'이름': ['홍길동', '사람 1', '사람 2'], '나이': [20, 30, 25], '도시': ['서울', '서울', '대전']}

In [97]:
df = pd.DataFrame(a)

In [98]:
df

     이름  나이  도시
0   홍길동  20  서울
1  사람 1  30  서울
2  사람 2  25  대전

In [99]:
df2 = df.set_index(['이름'])

In [100]:
df2

      나이  도시
이름
홍길동   20  서울
사람 1  30  서울
사람 2  25  대전

In [101]:
df3 = df2.set_index(['도시'])

In [102]:
df3

    나이
도시
서울  20
서울  30
대전  25

In [103]:
df2

      나이  도시
이름
홍길동   20  서울
사람 1  30  서울
사람 2  25  대전

In [104]:
df2 = df2.sort_index(ascending = True)

In [105]:
df2

      나이  도시
이름
사람 1  30  서울
사람 2  25  대전
홍길동   20  서울

In [106]:
df2 = df2.sort_values(by = '나이', ascending = True)

In [107]:
df2

      나이  도시
이름
홍길동   20  서울
사람 2  25  대전
사람 1  30  서울

In [108]:
df2 = df2.T

In [109]:
df2

이름 홍길동 사람 2 사람 1
나이  20   25   30
도시  서울   대전   서울

In [111]:
df2 = df2.T

In [112]:
df2['나이대'] = ['30대', '20대', '20대']

In [113]:
df2

      나이  도시  나이대
이름
홍길동   20  서울  30대
사람 2  25  대전  20대
사람 1  30  서울  20대

In [114]:
df2 = df2.reset_index()

In [115]:
df2

     이름  나이  도시  나이대
0   홍길동  20  서울  30대
1  사람 2  25  대전  20대
2  사람 1  30  서울  20대

In [116]:
b = {'20대': 2, '30대': 3}

In [117]:
df2['나이대'] = df2['나이대'].map(b)

In [118]:
df2

     이름  나이  도시  나이대
0   홍길동  20  서울    3
1  사람 2  25  대전    2
2  사람 1  30  서울    2

In [119]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      object
 2   도시      3 non-null      object
 3   나이대     3 non-null      int64
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [120]:
a = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [121]:
a

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [122]:
b = pd.Series(a)

In [123]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [124]:
type(b)

pandas.core.series.Series

In [125]:
c = b / 10

In [126]:
c

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [127]:
c = b // 10

In [128]:
c

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [129]:
type(c)

pandas.core.series.Series

In [130]:
d = b + c

In [131]:
d

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [132]:
e = {'a': 10, 'c': 20, 'e': 30, 'g': 40}

In [133]:
e

{'a': 10, 'c': 20, 'e': 30, 'g': 40}

In [134]:
f = pd.Series(e)

In [135]:
f

a    10
c    20
e    30
g    40
dtype: int64

In [136]:
d + f

a    21.0
b     NaN
c    53.0
d     NaN
e    85.0
g     NaN
dtype: float64

In [137]:
d.add(f, fill_value = 0)

a    21.0
b    22.0
c    53.0
d    44.0
e    85.0
g    40.0
dtype: float64

In [138]:
d.sub(f, fill_value = 0)

a     1.0
b    22.0
c    13.0
d    44.0
e    25.0
g   -40.0
dtype: float64

In [139]:
d.mul(f, fill_value = 0)

a     110.0
b       0.0
c     660.0
d       0.0
e    1650.0
g       0.0
dtype: float64

In [140]:
d * f

a     110.0
b       NaN
c     660.0
d       NaN
e    1650.0
g       NaN
dtype: float64

In [141]:
d.mul(f, fill_value = 0)

a     110.0
b       0.0
c     660.0
d       0.0
e    1650.0
g       0.0
dtype: float64

In [142]:
d.div(f, fill_value = 0)

a    1.100000
b         inf
c    1.650000
d         inf
e    1.833333
g    0.000000
dtype: float64