In [4]:
import pandas as pd
a = {'점수 1': [10, 20, 30], '점수 2': [20, 40, 60]}

In [5]:
df1 = pd.DataFrame(a)

In [6]:
df1

   점수 1  점수 2
0    10    20
1    20    40
2    30    60

In [7]:
b = {'점수 1': [100, 200, 300], '점수 3': [200, 400, 600]}

In [8]:
df2 = pd.DataFrame(b)

In [9]:
df2

   점수 1  점수 3
0   100   200
1   200   400
2   300   600

In [11]:
df3 = df1 + df2

In [12]:
df3

   점수 1  점수 2  점수 3
0   110   NaN   NaN
1   220   NaN   NaN
2   330   NaN   NaN

In [13]:
df4 = df1.add(df2, fill_value = 0)

In [14]:
df4

   점수 1  점수 2   점수 3
0   110  20.0  200.0
1   220  40.0  400.0
2   330  60.0  600.0

In [15]:
df5 = df1.sub(df2, fill_value = 0)

In [16]:
df5

   점수 1  점수 2   점수 3
0   -90  20.0 -200.0
1  -180  40.0 -400.0
2  -270  60.0 -600.0

In [17]:
df6 = df1.mul(df2, fill_value = 1)

In [18]:
df6

   점수 1  점수 2   점수 3
0  1000  20.0  200.0
1  4000  40.0  400.0
2  9000  60.0  600.0

In [19]:
df7 = df1.div(df2, fill_value = 0)

In [20]:
df7

   점수 1  점수 2  점수 3
0   0.1   inf   0.0
1   0.1   inf   0.0
2   0.1   inf   0.0

In [21]:
a = {'이름': ['홍길동', '사람 1', '사람 2'], '나이': [20, 30, 25]}

In [22]:
df1 = pd.DataFrame(a)

In [23]:
df1

     이름  나이
0   홍길동  20
1  사람 1  30
2  사람 2  25

In [24]:
b = {'이름': ['홍길동', '사람 1', '사람 2'], '도시': ['서울', '서울', '대전']}

In [25]:
df2 = pd.DataFrame(b)

In [26]:
df2

     이름  도시
0   홍길동  서울
1  사람 1  서울
2  사람 2  대전

In [27]:
df = pd.merge(left = df1,
              right = df2,
              how = 'left',
              left_on = '이름',
              right_on = '이름')

In [28]:
df

     이름  나이  도시
0   홍길동  20  서울
1  사람 1  30  서울
2  사람 2  25  대전

In [29]:
x1 = (df['도시'] == '서울')

In [30]:
df[x1]

     이름  나이  도시
0   홍길동  20  서울
1  사람 1  30  서울

In [31]:
x2 = (df['도시'] != '서울')

In [32]:
df[x2]

     이름  나이  도시
2  사람 2  25  대전

In [33]:
x3 = (df['나이'] < 30)

In [34]:
df[x3]

     이름  나이  도시
0   홍길동  20  서울
2  사람 2  25  대전

In [35]:
x4 = (df['도시'] == '서울') & (df['나이'] < 30)

In [36]:
df[x4]

    이름  나이  도시
0  홍길동  20  서울

In [37]:
x4 = (df['도시'] == '서울') | (df['나이'] < 30)

In [38]:
df[x4]

     이름  나이  도시
0   홍길동  20  서울
1  사람 1  30  서울
2  사람 2  25  대전